/* Transpilar estilos */
/* npx tailwindcss -i ./estilos/estilo.css -o ./estilos/estilo_transpilado.css --watch */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --pallete-primary-text: ;
    --pallete-primary-dark: #07746E;
    --pallete-secondary-dark: #022725;
    --pallete-primary-light: #fffdf2;
    --pallete-yellow: #FFE047;
    --pallete-green: #A7E18D;
    --pallete-blue: #5AF5EE;
    --gradient-stops: var(--pallete-blue),var(--pallete-green),var(--pallete-yellow);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--pallete-primary-dark);
    color: var(--pallete-primary-light);
}

header {
    background-color: var(--pallete-primary-light);
    color: var(--pallete-primary-dark);
    text-align: center;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

nav {
    text-align: center;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

a:hover {
    color: var(--pallete-yellow)
}

h1 {
    font-size: 32px; /* Tamaño de fuente personalizado */
    font-weight: bold; /* Texto en negrita */
    margin-top: 20px; /* Espacio superior */
    margin-bottom: 10px; /* Espacio inferior */
}

h1 > span {
    background-image: linear-gradient(to right,var(--gradient-stops));
}

section h2 {
    font-size: 24px; /* Tamaño de fuente personalizado */
    font-weight: bold; /* Texto en negrita */
    margin-top: 20px; /* Espacio superior */
    margin-bottom: 10px; /* Espacio inferior */
}

h3 {
    font-size: 20px; /* Tamaño de fuente personalizado */
    font-weight: bold; /* Texto en negrita */
    margin-top: 15px; /* Espacio superior */
    margin-bottom: 10px; /* Espacio inferior */
}

label,
select#comunidades {
    color: var(--pallete-secondary-dark);
}

form:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    /* background-color: var(--pallete-blue); */
    background-image: linear-gradient(to right,var(--gradient-stops));
    opacity: 0.75;
    border-radius: .5rem;
    z-index: -1;
}
form {
    background: transparent;
    position: relative;
    box-shadow: 0 10px 20px rgba(2, 39, 37, 0.19), 0 6px 6px rgba(2, 39, 37,   0.23);
}

select {
    width: auto;
    margin: 0 auto;
    display: inline-block;
}
table {
    width: 99%;
    table-layout: revert-layer;
    word-wrap: anywhere;
    border-collapse: collapse;
    font-size: 12px;
    margin: auto;
    background-color: #fff;
    color: var(--pallete-primary-dark);
    border-radius: .5rem;
    border: none;
    box-shadow: 0 10px 20px rgba(2, 39, 37, 0.19), 0 6px 6px rgba(2, 39, 37,   0.23);

}
table, th, td { 
    border-top: 0px;
    padding: 10px;
    text-align: center;
}

.table-wrapper {
    padding: 10px;
}
@media (max-width: 600px) {
    table {
        font-size: 14px;
    }
}

section.more-info {
    background-color: var(--pallete-primary-light);
    color: var(--pallete-secondary-dark);
}

.gradient {
    height: 4px;
    background: linear-gradient(to right,var(--gradient-stops));
}